<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="bairagi.com.bd" />
  <link rel="shortcut icon" href="{% static 'images/favicon.png'%}" />

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap5" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}" />
  <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css'%}" />

  <link rel="stylesheet" href="{% static 'css/tiny-slider.css'%}" />
  <link rel="stylesheet" href="{% static 'css/aos.css'%} " />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />

  <title>
    Housing BD
  </title>
</head>

<body>
  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close">
        <span class="icofont-close js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <nav class="site-nav">
    <div class="container">
      <div class="menu-bg-wrap">
        <div class="site-navigation">
          <a href="{% url 'index' %}" class="logo m-0 float-start">
            <img src="{%static 'images/logo4.png'%}" width="120" height="40">
          </a>

          <ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end">
            <li class="active"><a href="{% url 'index' %}">Home</a></li>
            <li class="has-children">
              <a href="{% url 'properties' %}">Properties</a>
            </li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'login_view' %}">Login</a></li>
          </ul>

          <a href="#"
            class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none"
            data-toggle="collapse" data-target="#main-navbar">
            <span></span>
          </a>
        </div>
      </div>
    </div>
  </nav>