{% extends 'authapp/music_base.html' %}

{% block content %}
<div class="container">
    {{musicians.as_p}}
    <h1>This is the list of musician</h1>

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name </th>
                <th scope="col">Instrument</th>
            </tr>
        </thead>
        <tbody>
            {{musicians.as_p}}
            {% if musicians %}
            {% for musician in musicians %}
            <tr>
                <th scope="row">{{musician.id}}</th>
                <td> <a href="#">{{musician.first_name}}</a></td>
                <td>{{musician.last_name}}</td>
                <td>{{musician.instrument}}</td>
            </tr>
            {% endfor %}
            {% endif%}
        </tbody>
    </table>
</div>
<br>
<hr>
<div class="container">
    <h1>This is the list of Albums</h1>
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Artist Name</th>
                <th scope="col">Album Name </th>
                <th scope="col">Release Date</th>
            </tr>
        </thead>
        <tbody>
            
            {% if album_lists%}
            {% for album in album_lists %}
            <tr>
                <td> <a href="">{{album.artist}}</a></td>
                <td>{{album.name}}</td>
                <td>{{album.release_date}}</td>
            </tr>
            {% endfor %}
            {% endif%}
        </tbody>
    </table>
</div>

{% endblock %}