{% extends 'base.html' %}

{% block content %}
<div class="container bg-light shadow-md p-5 form-layout">
    <br>
    <br>
    <br>
    <br>
    <div class="text-center">
        <h3>Login to your account</h3>
        <h5>Start managing your client today!</h5>
    </div>

    <hr />
    <br />
    <form action="{% url 'user_login' %}" method="POST">
        <label for="username">Username: </label>
        <input type="text" name="username" id="" placeholder="Enter Username.. " required class="form-control">
        <label for="password">Password: </label>
        <input type="password" name="password" id="" placeholder="Enter Password.. " required class="form-control">

        {% csrf_token %}
        <button class="btn btn-primary w-100 btn-black p-2" type="submit">Login Now</button>
        <br>
        <br>
        <div class="text-center">
            <p>Don't have an account ? <a href="{% url 'signup_view' %}">Register Here</a> </p>
        </div>
    </form>
    <br>
    <br>
    <br>
</div>

{% endblock %}